# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OSX
.DS_Store

# Cache
.cache/

# Build
build/

# Compile commands
**/compile_commands.json

# Imgui ini
**/imgui.ini

# Conan
**/conan.lock
**/conanbuildinfo.txt
**/conanbuildinfo.cmake
**/conaninfo.txt
**/graph_info.json

**/bindings/

README_assets/*
!README_assets/milestone1.png